@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Poppins:wght@400;600&display=swap');

.bo{
  background-color: #f0f8ff; 
  margin: 0;
  font-family: 'Roboto', sans-serif; 
  padding: 20px;
}

h2 {
  color:#E64833; 
  font-family: 'Poppins', sans-serif; 
}
